body {
  color: red;
}
#menu_table {
    width: 120px;
    font-size: 15px;
}
#menu_table:link {color: black;}
#menu_table:visited {color: black;}
#menu_table:hover {text-decoration: none; color: red;}
#title {
  font-size: 20px;
  height: 100px;
  padding-top: 10px;
}
#menu {
  font-size: 20px;
  height: 50px;
  padding-bottom: 10px;
}
#side_menu {
  position: absolute;
  left: 15vw;
  top: 30vh;
}
#sns {
  position: relative;
  left: 160px;
  top: 2em;
}
#frame_menu {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 3%;
}
#body_main {
  margin: 0px auto;
  width: 50em;
  border-right: 0px solid #aeaeae;
  border-left: 0px solid #aeaeae;
}
div {
  text-align: center;
}
table, td, th {
  margin:0 auto;
  border-collapse: collapse;
}
span {
  width: 400px;
}
iframe {
  border:0px solid black;
  width: 50em;
  min-height: 50em;
}
p {
  text-align: center;
}
