#menu_table {
    width: 120px;
    font-size: 15px;
}
a:link {color: black;}
a:visited {color: black;}
a:hover {text-decoration: none; color: rgb(70, 110, 135);}
#title {
  font-weight: bold
}
#menu {
  font-size: 20px;
  margin-bottom: 0px;
}
#main {
  width: 100%;
  margin:0 auto;
  max-width: 620px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 200%;
}
body {
  background-color: rgb(70, 110, 135);
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 100%;
}
hr {
  margin: 15px;
  border-top: 1px solid black;
}
div {
  text-align: center;
}
table, td, th {
  margin:0 auto;
  border-collapse: collapse;
}
span {
  width: 400px;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}
#under td {
  padding-top: 10px;
}
@media (max-width:767px) {
  #title {
    margin: 10px; padding: 8px;
  }
  #title img {
    width: 80%;
  }
  #under img {
    max-width: 200px;
  }
  #menu_in td {
    width: 100px;
    font-size: 13px;
  }
  #menu img{
    width: 100px;
  }
}
@media (min-width: 768px) {
  #title {
    margin: 15px; padding: 8px;
  }
  #title img {
    width: 70%;
  }
  #menu img {
    margin-left: 50px;
    margin-right: 50px;
    width: 120px;
  }
  #menu_in td {
    width: 220px;
  }
  #under img {
    max-width: 300px;
}
/*
@media (max-width:767px) {
  body {  background-image: url('img/포스터 편집용_원본길이.png');  }
}
@media (min-width: 768px) {
  body {  background-image: url('img/포스터 편집용.png'); }
}*/
